
#grad {
  height: 500px;
  background-image: linear-gradient(to right, #607682, #61869A 30%, #7ABEE4);
  margin-top: 1%;
}

.orangebg {
  background-color: #FFEDCE;
  height: 540px;
}

.dropdown {
  color: #639FBF;
}

.dropdown-content {
  color: #578BA8;
}

.letter {
  background-image: linear-gradient(to right, #4F95BB, #60B0DC 60%);
  width:34px;
  height:34px;
  border: 3px;
  border-style: solid;
  border-color: white;
  font-family: 'Poppins';
}

.btn-group-vertical button {
  background-color: transparent; /* Green background */
  border: none; /* Green border */
  color: #578BA8; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  text-align:left;
  font-family: 'Inter';
  font-weight: 400;
}

.btn-group-vertical button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group-vertical button:hover {
  background-color: #D2E9F1;
}

.dropdown-divider {
  width: 350px;
  
}

#practice {
background-color: #D2E9F1;
height: 1500px;
padding-top: 100px;
padding-left: 200px;
padding-right: 200px;
}

#right {
  float: right;
}

#hands {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}

#lightbulb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;

}

#trophy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11%;
  width: 40%;
}

#gif1 {
  height: 290px;
  margin-top: 25%;
}

#gif2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 20%;
}

#donation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  width: 100%;
}

.lower {
  padding: 100px;
}

#search {
  width: 60%;
  height: 90%;
}

form.nosubmit {
  padding-top: 20px;
}

input.nosubmit {
  width: 260px;
  border: 1px solid #639FBF;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

#blueobj {
  height: 500px;
  background-color: #D2E9F1;
  margin-bottom: 5%;
  margin-top: 30px;
}

#right {
  float: right;
}

#bullet {
  list-style-type: none;
}

#intro {
  font-family: 'Poppins';
  font-size: 24pt;
  font-weight: 300;
  margin-top: 5%;
  color: #578BA8;
}

#username {
  font-family: 'Inter';
  font-size: 16pt;
  font-weight: 200;
  margin-top: 5%;
  color: #639FBF;
  text-align: right;
}

ul {
    list-style-type: square;
    display: inline-block;
    float: right;

}

ol {
  list-style-type: disc;
  color: #578BA8;
  margin-left: 100px;
  font-family: 'Inter';
  font-size: 15pt;
  line-height: 22pt;
}

li {
    margin:20px;
}

ol-2 {
  list-style-type: disc;
  color: #578BA8;
  margin-left: 100px;
  font-family: 'Inter';
  font-size: 15pt;
  line-height: 44pt;
}


.placeholder {
  color: #639FBF;
  font-family: 'Inter';
  font-size: 14pt;
  font-weight: 100;
}

.bottomcolor {
  height: 360px;
  background-color: rgb(97, 134, 154);
}

.white-text {
  color: white;
}

.img {
  margin-left: auto;
  height:auto;
  width: auto;
}

.category {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15pt;
  color: #639FBF;
  text-align: right;
  padding: 35px;
}

.search {
  position: absolute;
  padding: 35px;
}

.subheading  {
  font-family: 'Poppins';
  font-size: 15pt;
  font-weight: 300pt;
}

.icontext {
  font-family: 'Poppins';
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
}

.iconbody {
  font-family: 'Inter';
  font-size: 11pt;
  font-weight: normal;
  line-height: 17pt;
  text-align: center;
}

.cartoon {
  margin-top: 20%;
  font-family: 'Inter';
  font-size: 22pt;
  font-weight: 300;
  text-align: left;
  display: inline-block;
}

#orange {
  font-family: 'Inter';
  font-size: 22pt;
  font-weight: bold;
  text-align: left;
  color: #F1A64F;
}

.bill {
  font-family: 'Inter';
  font-size: 22pt;
  font-weight: bolder;
  text-align: right;
}

hr {
  height:10px;
  border:solid;
  margin-bottom: 50px;
}

h1 {
  font-family: 'Poppins';
  font-size: 36pt;
  font-weight: bold;
  margin-left: auto;
  color: white;
  padding-bottom: 15pt;
  padding-top: 60pt;
}

h2 {
  font-family: 'Poppins';
  font-size: 40pt;
  font-weight: 300;
  padding: 5%;
  text-align: center;
}

h3 {
  font-family: 'Poppins';
  font-size: 24pt;
  font-weight: 600;
  margin-top: 25%;
  text-align: left;
}

h3-1 {
  font-family: 'Poppins';
  font-size: 24pt;
  font-weight: 600;
  margin-bottom: 10%;
  color: #578BA8;
}

h4 {
  font-family: 'Inter';
  font-size: 20pt;
  font-weight: 400;
  color: #F1A64F;
  margin-top: 30%;
  margin-bottom: 30px;
  text-align: left;
}

.h5-1 {
  font-family: 'Poppins';
  font-size: 23pt;
  font-weight: normal;
  margin-top: 50px;
  padding: 15px;
  text-align: center;
}

.viewlesson {
  font-family: 'Poppins';
  font-size: 23pt;
  font-weight: normal;
  color: Black;
}

h6 {
  font-family: 'Inter';
  font-size: 24pt;
  font-weight: 300;
  line-height: 25pt;
  margin-top: 20%;
  text-align: left;
}

h6-1 {
  font-family: 'Poppins';
  font-size: 26pt;
  font-weight: 500;
  color: Black;
}

.journey1 {
  font-family: 'Poppins';
  font-size: 26pt;
  font-weight: 500;
  text-align: center;
  color: Black;
}

.done {
  font-family: 'Poppins';
  font-size: 26pt;
  font-weight: 500;
  color: #578BA8;
}

#congrats {
  font-family: 'Inter';
  font-size: 16pt;
  font-weight: 300;
  line-height: 24pt;
  color: #578BA8;
  margin-bottom: 20%;
}

#congrats2 {
  font-family: 'Inter';
  font-size: 16pt;
  font-weight: 300;
  line-height: 24pt;
  color: #578BA8;
  cursor: pointer;
}

.bodytext {
  font-family: 'Inter';
  font-size: 13pt;
  font-weight: 400;
  line-height: 25pt;
  text-align: left;
}

.response {
  font-family: 'Inter';
  font-size: 13pt;
  font-weight: 400;
  color: #578BA8;
  line-height: 25pt;
  text-align: left;
  margin-bottom: 15%;
}

.column {
  float: left;
  padding: 10px;
  height: 500px;
}

.left {
  width: 50%;
}

.middle {
  width: 40%;
}

.right {
  width: 10%;
}

.Bannertext {
  color: white;
  font-family: 'Inter';
  font-size: 20pt;
  line-height: 38pt;
  font-weight: 300;
}

.responsive {
  width: 700px;
  margin-left: 10%;
  height: auto;
  margin-top: 30px;
}

.checkpoint {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  padding-top: 7%;
  padding-bottom: 7%;
}

.ASLU-banner {
  max-width: 100%;
  height: auto;
}

.btn-start-learning {
  border: none;
  background-color: #F1A64F;
  color: white;
  font-family: 'Poppins';
  font-size: 24pt;
  font-weight: 500;
  padding: 20px 28px;
  margin-top: 10px;
  cursor: pointer;
  float: right;
  display: inline-block;
}

.btn-donate {
  border: none;
  background-color: #F1A64F;
  color: white;
  font-family: 'Poppins';
  font-size: 24pt;
  font-weight: 500;
  padding: 20px 28px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
  display: inline-block;
}

.btn-next-lesson {
  border: none;
  background-color: #F1A64F;
  color: white;
  font-family: 'Poppins';
  font-size: 24pt;
  font-weight: 500;
  padding: 20px 28px;
  margin-top: 20%;
  cursor: pointer;
  float: right;
  display: inline-block;
}


.btn-start-review {
  border: none;
  background-color: #F1A64F;
  color: white;
  font-family: 'Poppins';
  font-size: 24pt;
  font-weight: 500;
  padding: 20px 28px;
  margin-top: 40%;
  cursor: pointer;
  display: inline-block;
}

#takequiz {
  border: none;
  background-color: #F1A64F;
  color: white;
  font-family: 'Poppins';
  font-size: 24pt;
  font-weight: 500;
  padding: 20px 28px;
  margin-top: 5%;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}

#skipquiz {
  border: none;
  background-color: #D2E9F1;
  color: #578BA8;
  font-family: 'Poppins';
  font-size: 24pt;
  font-weight: 500;
  padding: 20px 28px;
  margin-top: 5%;
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
}

.subscribe {
  max-width: 80%;
  height: auto;
  margin-left: 20%;
  margin-top: 70%;
}

.donation {
  font-family: 'Inter';
  font-size: 17pt;
  font-weight: 300;
  line-height: 33pt;
  text-align: left;
}

.moreinfo {
  font-family: 'Inter';
  font-size: 14pt;
  font-weight: 400;
  line-height: 24pt;
  color: #578BA8;
  text-align: left;
  margin-bottom: 20%;
}

.footer {
  font-family: 'Inter';
  font-size: 18pt;
  font-weight: 500;
  color: white;
  margin-top: 170px;

}

.carousel-caption {
  font-family: 'Inter';
  font-size: 13pt;
  font-weight: 400;
  line-height: 25pt;
  text-align: left;
}

.progress {
  position: relative;
}

.show {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px;
}
/* unvisited link */
a:link {
  color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}
